<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/style/style.css">
    <link rel="stylesheet" href="../../static/style/bootstrap/css/bootstrap.min.css">


</head>
<body>


<header>
    <nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ABZ onlineShop</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us </a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#">Contact us </a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="#">Services </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>
{% block content %}
{% endblock %}

<footer>

    <p>© 2024 ABZ onlineShop. All Rights Reserved.</p>
    <p>Contact:
</footer>


<p>Welcome to our online shop! Here, you can find a wide variety of products to suit your needs. Enjoy a seamless shopping experience with our user-friendly interface and secure payment options. Happy shopping!</p>
<script src="{% static 'style/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>