<!-- contact.html -->
{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <h1>Register form</h1>
<!--    <p>Welcome to our online shop! We are dedicated to providing you with the best products and services. Our team works hard to ensure a seamless shopping experience for you. Thank you for choosing us!</p>-->

<!--    <h2>Our Office</h2>-->
<!--    <p>Address: 123 Nairobi Street, Nairobi, Kenya</p>-->
<!--    <p>Phone: +254 700 000 000</p>-->
<!--    <p>Email: info@onlineshop.com</p>-->
<div class="row">
    <div class="col-md-3"></div>
       <div class="col-md-6">
    <form method="post" action="">
<!--        {% csrf_token %}-->
        {% csrf_token %}
        {{ form.as_p }}

    <button type="submit" class="btn btn-warning btn-block">Submit</button>

    </form>
</div>
{% endblock %}